body {
    margin: 0;
}

.flexbox {
    background-color: dodgerblue;
    display: flex;
    height: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    /* Space between two elements
    In the first exercise - You can use it to have space betweeen the elements
    */
    justify-content: space-around;
    align-items:flex-end;
}

.flexbox div {
    background-color: white;
    font-size: 30px;
    margin: 10px;
    padding: 20px;
}
/* Exception */

.flexbox div:nth-child(3){
    flex-shrink: 0;
}