body {
    margin: 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    transition: 2s ;
}

@media screen and (max-width:768px) {
    .box {
        background-color: blue;
        border-radius: 50px;
    }
}